/* responsive phone */

:root {
  font-size: 100%;
}
/* responsive tablet */
@media (min-width: 796px) {
  :root {
    font-size: 125%;
  }
}
/* responsive desktop */
@media (min-width: 1025px) {
  :root {
    font-size: 150%;
  }
}
