/* responsive phone */

:root {
  font-size: 2em;
}
/* responsive tablet */
@media (min-width: 796px) {
  :root {
    font-size: 2.5em;
  }
}
/* responsive desktop */
@media (min-width: 1025px) {
  :root {
    font-size: 1em;
  }
}
